@use '../../styles/variables.scss' as vars;

.events-slider-container {
  position: relative;
  width: 94%;
  overflow: auto;
  @include vars.flex-standard;

  @media (max-width: vars.$breakpoint-md) {
    .nav-button{
      display: none;
    }
  }
  
  .events-slider {
    height: 250px;
    .swiper-pagination {
      bottom: 0px;
    }
    .swiper-pagination-bullet {
      background-color:vars.$text-prim; 
    }
    .swiper-pagination-bullet-active {
      background:vars.$secondary-color;
    }
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    min-width: 210px;
  }
}
