@use '../../styles/variables.scss' as vars;

.event-card {
  text-align: left;
  max-width: 220px;
  padding: 0;
  background-color: transparent;

  h3 {
    color:vars.$text-prim;
    font-family: Bebas Neue;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    @media (max-width: vars.$breakpoint-md) {
      font-size: 16px;
      line-height: 19.2px;
    }
  }

  p {
    color:vars.$secondary-color;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: vars.$breakpoint-md) {
      font-size: 14px;
      line-height: 20.3px;
    }

   
  }
}